<div class="container">
<h1 style="font-weight: bold; color: white;">User Home Page</h1>
<div class ="divider"></div>
<div class="feature_divider"></div>

<h1 style="font-weight: bold; color: white; font-size:20px;">My Bets</h1>
<section class="wrapper" style="border-box:none !important;">
    <!-- Row title -->
    <main class="row-req title-req">
      <ul>
        <li>Team 1</li>
        <li>Team 2</li>
        <li>Odds 1</li>
        <li>Odds 2</li>
        <li>Payout 1</li>
        <li>Payout 2</li>
        <li>Amount Bet</li>
      </ul>
    </main>

{{#each result}}
<section class="row-fadeIn-wrapper">
     <article class="row-req fadeIn nfl">
       <ul>
         <li>{{team1}}</li>
         <li style="margin-right:5px;">{{team2}}</li>
            <li style="margin-right:5px;">{{team1odds}}</li>
               <li style="margin-right:5px;">{{team2odds}}</li>
                  <li style="margin-right:5px;">{{team1payout}}</li>
                    <li style="margin-right:5px;">{{team2payout}}</li>
                      <li style="margin-right:5px;">{{amountBet}}</li>
       </ul>
       <ul class="more-content">
         <li></li>
       </ul>
     </article>
   </section>
{{/each}}
  </section>
  <div class="feature_divider"></div>

  <h1 style="font-weight: bold; color: white; font-size:20px;">Total Bets: {{totalBet}}</h1>
</div>
<style>
.row-req ul li {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    list-style: none;
    display: inline-block;
    width: 12%;
    box-sizing: border-box;
}
.wrapper * {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  background: rgba(0, 0, 0, 0.9);
}
</style>
